<div station-id="station.id" station-name="station.name" class="list card station-card">
  <div class="item item-divider">{{stationName}}</div>
  <div class="item item-body">
    <div>
      <div class="row">
          <div class="col col-100">
             <i class="icon ion-flag"></i><b> Roma:</b> 17.10 (7 min), 17.30 (27 min), ..
          </div>
      </div>
      <div class="row">
          <div class="col col-100">
             <i class="icon ion-flag"></i><b> Ostia:</b> 17.20 (17 min), 17.35 (32 min), ..
          </div>
      </div>
    </div>
  </div>
</div>
