<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="All Stations" icon-off="ion-clock" icon-on="ion-clock" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="My Stations" icon-off="ion-star" icon-on="ion-star" href="#/tab/favourites">
    <ion-nav-view name="tab-favourites"></ion-nav-view>
  </ion-tab>

</ion-tabs>
